<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ArtPack/BookStack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 1}, {378, 720}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {378, 720}}</string>
			<key>sourceSize</key>
			<string>{378, 720}</string>
		</dict>
		<key>ArtPack/background_library.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1280, 720}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1280, 720}}</string>
			<key>sourceSize</key>
			<string>{1280, 720}</string>
		</dict>
		<key>ArtPack/menu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283, 381}, {981, 717}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109, 91}, {981, 717}}</string>
			<key>sourceSize</key>
			<string>{1200, 900}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>ArtPack.png</string>
	</dict>
</dict>
</plist>
