<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Ground/Lampada.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {73, 300}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13, 0}, {73, 300}}</string>
			<key>sourceSize</key>
			<string>{100, 300}</string>
		</dict>
		<key>Ground/Parteleira.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 487}, {279, 15}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11, 6}, {279, 15}}</string>
			<key>sourceSize</key>
			<string>{300, 30}</string>
		</dict>
		<key>Ground/images.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 303}, {277, 182}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {277, 182}}</string>
			<key>sourceSize</key>
			<string>{277, 182}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Ground.png</string>
	</dict>
</dict>
</plist>
