<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Hero/Body.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1105, 1012}}</string>
			<key>offset</key>
			<string>{1, 119}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{473, 143}, {1105, 1012}}</string>
			<key>sourceSize</key>
			<string>{2048, 1536}</string>
		</dict>
		<key>Hero/Foot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1108, 1}, {268, 184}}</string>
			<key>offset</key>
			<string>{-377, -515}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{513, 1191}, {268, 184}}</string>
			<key>sourceSize</key>
			<string>{2048, 1536}</string>
		</dict>
		<key>Hero/Hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378, 1}, {245, 233}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{901, 651}, {245, 233}}</string>
			<key>sourceSize</key>
			<string>{2048, 1536}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>Hero.png</string>
	</dict>
</dict>
</plist>
