<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Hero/Body.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {277, 253}}</string>
			<key>offset</key>
			<string>{0, 29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{118, 36}, {277, 253}}</string>
			<key>sourceSize</key>
			<string>{512, 384}</string>
		</dict>
		<key>Hero/Foot.png</key>
		<dict>
			<key>frame</key>
			<string>{{280, 1}, {68, 47}}</string>
			<key>offset</key>
			<string>{-94, -128}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128, 297}, {68, 47}}</string>
			<key>sourceSize</key>
			<string>{512, 384}</string>
		</dict>
		<key>Hero/Hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{350, 1}, {62, 60}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{225, 162}, {62, 60}}</string>
			<key>sourceSize</key>
			<string>{512, 384}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>textureFileName</key>
		<string>Hero.png</string>
	</dict>
</dict>
</plist>
